<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Villa</h1>
    <li> A villa is a luxurious, standalone residence often characterized by spacious living areas, high-end amenities, and a private outdoor space, such as a garden or pool.</li><br> 
    <li>Typically located in scenic or exclusive areas, villas are designed to offer privacy and comfort, making them ideal for family living or as vacation homes.</li><br>
    <li>They often feature elegant architecture, multiple bedrooms, and are equipped with modern conveniences to provide a sophisticated lifestyle. </li>
</body>
</html>